<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.dao.CompayAccountsMapper">
  <resultMap id="BaseResultMap" type="com.wms.bean.CompayAccounts">
    <id column="ca_id" jdbcType="INTEGER" property="caId" />
    <result column="ca_accounts" jdbcType="INTEGER" property="caAccounts" />
    <result column="ca_name" jdbcType="VARCHAR" property="caName" />
  </resultMap>
  <sql id="Base_Column_List">
    ca_id, ca_accounts, ca_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from compay_accounts
    where ca_id = #{caId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from compay_accounts
    where ca_id = #{caId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wms.bean.CompayAccounts">
    insert into compay_accounts (ca_id, ca_accounts, ca_name
      )
    values (#{caId,jdbcType=INTEGER}, #{caAccounts,jdbcType=INTEGER}, #{caName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wms.bean.CompayAccounts">
    insert into compay_accounts
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="caId != null">
        ca_id,
      </if>
      <if test="caAccounts != null">
        ca_accounts,
      </if>
      <if test="caName != null">
        ca_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="caId != null">
        #{caId,jdbcType=INTEGER},
      </if>
      <if test="caAccounts != null">
        #{caAccounts,jdbcType=INTEGER},
      </if>
      <if test="caName != null">
        #{caName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wms.bean.CompayAccounts">
    update compay_accounts
    <set>
      <if test="caAccounts != null">
        ca_accounts = #{caAccounts,jdbcType=INTEGER},
      </if>
      <if test="caName != null">
        ca_name = #{caName,jdbcType=VARCHAR},
      </if>
    </set>
    where ca_id = #{caId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wms.bean.CompayAccounts">
    update compay_accounts
    set ca_accounts = #{caAccounts,jdbcType=INTEGER},
      ca_name = #{caName,jdbcType=VARCHAR}
    where ca_id = #{caId,jdbcType=INTEGER}
  </update>
</mapper>