<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.dao.CrossDatabaseMapper">
    <resultMap id="BaseResultMap" type="com.wms.bean.CrossDatabase">
        <id column="cd_id" jdbcType="INTEGER" property="cdId"/>
        <result column="cd_name" jdbcType="VARCHAR" property="cdName"/>
        <result column="cd_SKUmodel" jdbcType="VARCHAR" property="cdSkumodel"/>
        <result column="cd_num" jdbcType="DOUBLE" property="cdNum"/>
        <result column="cd_whid" jdbcType="VARCHAR" property="cdWhid"/>
        <result column="cd_oddnumbers" jdbcType="VARCHAR" property="cdOddnumbers"/>
        <result column="cd_time" jdbcType="TIMESTAMP" property="cdTime"/>
        <result column="cd_volume" jdbcType="DOUBLE" property="cdVolume"/>
        <result column="store" jdbcType="VARCHAR" property="store"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="damage" jdbcType="INTEGER" property="damage"/>
        <result column="cause" jdbcType="VARCHAR" property="cause"/>
        <result column="totalweigh" jdbcType="DOUBLE" property="totalweigh"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <collection property="godowns" ofType="com.wms.bean.Godown">
            <id column="go_id" jdbcType="INTEGER" property="goId"/>
            <result column="go_whid" jdbcType="VARCHAR" property="goWhid"/>
            <result column="go_p" jdbcType="VARCHAR" property="goP"/>
            <result column="go_volume" jdbcType="DOUBLE" property="goVolume"/>
            <result column="go_usevolume" jdbcType="DOUBLE" property="goUsevolume"/>
            <result column="go_rdvolume" jdbcType="DOUBLE" property="goRdvolume"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
      cd_id, cd_name, cd_SKUmodel, cd_num, cd_whid, cd_oddnumbers, cd_time, cd_volume, store, phone, damage, cause, totalweigh, status
    </sql>
    <!-- 根据ID查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from cross_database
        where cd_id = #{cdId,jdbcType=INTEGER}
    </select>
    <!-- 分页查询 -->
    <select id="selectCrossDatabasePage" resultMap="BaseResultMap">
        select
          cr.cd_id, cr.cd_name, cr.cd_SKUmodel, cr.cd_num, cr.cd_whid, cr.cd_oddnumbers, cr.cd_time, cr.cd_volume, cr.store, cr.phone, cr.damage, cr.cause, cr.totalweigh, cr.status , g.*
        from cross_database cr, godown g
        where cr.cd_whid = g.go_whid
        <if test=" name != null and name != '' ">
            and cd_name like concat('%', #{name}, '%')
        </if>
        <if test="startTime != null">
            <![CDATA[ and cd_time >= #{startTime} ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[ and cd_time <= #{endTime} ]]>
        </if>
    </select>
    <!-- 根据ID删除 -->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from cross_database
        where cd_id = #{cdId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wms.bean.CrossDatabase">
    insert into cross_database (cd_id, cd_name, cd_SKUmodel,
        cd_num, cd_whid, cd_oddnumbers,
        cd_time, cd_volume, store, phone, damage, cause, totalweigh, status)
      values (#{cdId,jdbcType=INTEGER}, #{cdName,jdbcType=VARCHAR}, #{cdSkumodel,jdbcType=VARCHAR},
        #{cdNum,jdbcType=DOUBLE}, #{cdWhid,jdbcType=VARCHAR}, #{cdOddnumbers,jdbcType=VARCHAR},
        #{cdTime,jdbcType=TIMESTAMP}, #{cdVolume,jdbcType=DOUBLE},#{store,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{damage,jdbcType=INTEGER},#{cause,jdbcType=VARCHAR},#{totalweigh,jdbcType=DOUBLE},#{status,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.wms.bean.CrossDatabase">
        insert into cross_database
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cdId != null">
                cd_id,
            </if>
            <if test="cdName != null">
                cd_name,
            </if>
            <if test="cdSkumodel != null">
                cd_SKUmodel,
            </if>
            <if test="cdNum != null">
                cd_num,
            </if>
            <if test="cdWhid != null">
                cd_whid,
            </if>
            <if test="cdOddnumbers != null">
                cd_oddnumbers,
            </if>
            <if test="cdTime != null">
                cd_time,
            </if>
            <if test="cdVolume != null">
                cd_volume,
            </if>
            <if test="store != null">
                store,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="damage != null">
                damage,
            </if>
            <if test="cause != null">
                cause,
            </if>
            <if test="totalweigh != null">
                totalweigh,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cdId != null">
                #{cdId,jdbcType=INTEGER},
            </if>
            <if test="cdName != null">
                #{cdName,jdbcType=VARCHAR},
            </if>
            <if test="cdSkumodel != null">
                #{cdSkumodel,jdbcType=VARCHAR},
            </if>
            <if test="cdNum != null">
                #{cdNum,jdbcType=DOUBLE},
            </if>
            <if test="cdWhid != null">
                #{cdWhid,jdbcType=VARCHAR},
            </if>
            <if test="cdOddnumbers != null">
                #{cdOddnumbers,jdbcType=VARCHAR},
            </if>
            <if test="cdTime != null">
                #{cdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cdVolume != null">
                #{cdVolume,jdbcType=DOUBLE},
            </if>
            <if test="store != null">
                #{store,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="damage != null">
                #{damage,jdbcType=INTEGER},
            </if>
            <if test="cause != null">
                #{cause,jdbcType=VARCHAR},
            </if>
            <if test="totalweigh != null">
                #{totalweigh,jdbcType=DOUBLE},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wms.bean.CrossDatabase">
        update cross_database
        <set>
            <if test="cdName != null">
                cd_name = #{cdName,jdbcType=VARCHAR},
            </if>
            <if test="cdSkumodel != null">
                cd_SKUmodel = #{cdSkumodel,jdbcType=VARCHAR},
            </if>
            <if test="cdNum != null">
                cd_num = #{cdNum,jdbcType=DOUBLE},
            </if>
            <if test="cdWhid != null">
                cd_whid = #{cdWhid,jdbcType=VARCHAR},
            </if>
            <if test="cdOddnumbers != null">
                cd_oddnumbers = #{cdOddnumbers,jdbcType=VARCHAR},
            </if>
            <if test="cdTime != null">
                cd_time = #{cdTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cdVolume != null">
                cd_volume = #{cdVolume,jdbcType=DOUBLE},
            </if>
            <if test="store != null">
                store = #{store,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="damage != null">
                damage = #{damage,jdbcType=INTEGER},
            </if>
            <if test="cause != null">
                cause = #{cause,jdbcType=VARCHAR},
            </if>
            <if test="totalweigh != null">
                totalweigh = #{totalweigh,jdbcType=DOUBLE},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where cd_id = #{cdId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wms.bean.CrossDatabase">
    update cross_database
    set cd_name = #{cdName,jdbcType=VARCHAR},
      cd_SKUmodel = #{cdSkumodel,jdbcType=VARCHAR},
      cd_num = #{cdNum,jdbcType=DOUBLE},
      cd_whid = #{cdWhid,jdbcType=VARCHAR},
      cd_oddnumbers = #{cdOddnumbers,jdbcType=VARCHAR},
      cd_time = #{cdTime,jdbcType=TIMESTAMP},
      cd_volume = #{cdVolume,jdbcType=DOUBLE},
      store = #{store,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      damage = #{damage,jdbcType=INTEGER},
      cause = #{cause,jdbcType=VARCHAR},
      totalweigh = #{totalweigh,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER}
    where cd_id = #{cdId,jdbcType=INTEGER}
  </update>
</mapper>