<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.dao.IncomeMapper">
  <resultMap id="BaseResultMap" type="com.wms.bean.Income">
    <id column="iid" jdbcType="INTEGER" property="iid" />
    <result column="icause" jdbcType="VARCHAR" property="icause" />
    <result column="itime" jdbcType="TIMESTAMP" property="itime" />
    <result column="iabout" jdbcType="VARCHAR" property="iabout" />
    <result column="icount" jdbcType="DECIMAL" property="icount" />
    <result column="iincome" jdbcType="DECIMAL" property="iincome" />
    <result column="ibalance" jdbcType="DECIMAL" property="ibalance" />
  </resultMap>
  <resultMap type="com.wms.bean.vo.IncomeVo" id="IncomeMap">
  	<result column="一月" property="one" />
  	<result column="二月" property="two" />
  	<result column="三月" property="three" />
  	<result column="四月" property="four" />
  	<result column="五月" property="five" />
  	<result column="六月" property="six" />
  	<result column="七月" property="seven" />
  	<result column="八月" property="eight" />
  	<result column="九月" property="nine" />
  	<result column="十月" property="ten" />
  	<result column="十一月" property="eleven" />
  	<result column="十二月" property="twelve" />
  	<result column="总额" property="count" />
  </resultMap>
  
  <sql id="Base_Column_List">
    iid, icause, itime, iabout, icount, iincome, ibalance
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from income
    where iid = #{iid,jdbcType=INTEGER}
  </select>
  <select id="selectByTime" resultMap="IncomeMap">
    select 
    sum(if(MONTH(itime)='01',iincome,0)) 一月,sum(if(MONTH(itime)='02',iincome,0)) 二月,
       sum(if(MONTH(itime)='03',iincome,0)) 三月,sum(if(MONTH(itime)='04',iincome,0)) 四月,
       sum(if(MONTH(itime)='05',iincome,0)) 五月,sum(if(MONTH(itime)='06',iincome,0)) 六月,
       sum(if(MONTH(itime)='07',iincome,0)) 七月,sum(if(MONTH(itime)='08',iincome,0)) 八月,
       sum(if(MONTH(itime)='09',iincome,0)) 九月,sum(if(MONTH(itime)='10',iincome,0)) 十月,
       sum(if(MONTH(itime)='11',iincome,0)) 十一月,sum(if(MONTH(itime)='12',iincome,0)) 十二月,
		sum(if(YEAR(itime)= #{Timeyears},iincome,0)) 总额
    from income
	where YEAR(itime)=#{Timeyears}
  </select>
  <select id="selectDataGrid" resultMap="BaseResultMap">
    	select
    	<include refid="Base_Column_List"/>
        from income
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from income
    where iid = #{iid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wms.bean.Income">
    insert into income (iid, icause, itime, 
      iabout, icount, iincome, 
      ibalance)
    values (#{iid,jdbcType=INTEGER}, #{icause,jdbcType=VARCHAR}, #{itime,jdbcType=TIMESTAMP}, 
      #{iabout,jdbcType=VARCHAR}, #{icount,jdbcType=DECIMAL}, #{iincome,jdbcType=DECIMAL}, 
      #{ibalance,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.wms.bean.Income">
    insert into income
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="iid != null">
        iid,
      </if>
      <if test="icause != null">
        icause,
      </if>
      <if test="itime != null">
        itime,
      </if>
      <if test="iabout != null">
        iabout,
      </if>
      <if test="icount != null">
        icount,
      </if>
      <if test="iincome != null">
        iincome,
      </if>
      <if test="ibalance != null">
        ibalance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="iid != null">
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="icause != null">
        #{icause,jdbcType=VARCHAR},
      </if>
      <if test="itime != null">
        #{itime,jdbcType=TIMESTAMP},
      </if>
      <if test="iabout != null">
        #{iabout,jdbcType=VARCHAR},
      </if>
      <if test="icount != null">
        #{icount,jdbcType=DECIMAL},
      </if>
      <if test="iincome != null">
        #{iincome,jdbcType=DECIMAL},
      </if>
      <if test="ibalance != null">
        #{ibalance,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wms.bean.Income">
    update income
    <set>
      <if test="icause != null">
        icause = #{icause,jdbcType=VARCHAR},
      </if>
      <if test="itime != null">
        itime = #{itime,jdbcType=TIMESTAMP},
      </if>
      <if test="iabout != null">
        iabout = #{iabout,jdbcType=VARCHAR},
      </if>
      <if test="icount != null">
        icount = #{icount,jdbcType=DECIMAL},
      </if>
      <if test="iincome != null">
        iincome = #{iincome,jdbcType=DECIMAL},
      </if>
      <if test="ibalance != null">
        ibalance = #{ibalance,jdbcType=DECIMAL},
      </if>
    </set>
    where iid = #{iid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wms.bean.Income">
    update income
    set icause = #{icause,jdbcType=VARCHAR},
      itime = #{itime,jdbcType=TIMESTAMP},
      iabout = #{iabout,jdbcType=VARCHAR},
      icount = #{icount,jdbcType=DECIMAL},
      iincome = #{iincome,jdbcType=DECIMAL},
      ibalance = #{ibalance,jdbcType=DECIMAL}
    where iid = #{iid,jdbcType=INTEGER}
  </update>
</mapper>