<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.dao.ResourceMapper">

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, name, url, description, icon, pid, seq, status, resource_type AS resourceType, create_time AS createTime
    </sql>

    <!-- 查询所有父菜单 -->
    <select id="selectAllByTypeAndPIdNull" resultType="Resource">
        select distinct
        <include refid="Base_Column_List"/>
        from resource
        where resource_type = #{resourceType}
        and pid is null order by seq
    </select>

    <select id="selectAllByTypeAndPId" resultType="Resource">
        select distinct
        <include refid="Base_Column_List"/>
        from resource
        where resource_type = #{resourceType}
        and pid = #{pId} order by seq
    </select>

    <select id="selectAll" resultType="Resource">
        select
        <include refid="Base_Column_List"/>
        from resource order by seq
    </select>

</mapper>