<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.dao.ShipmentMapper">
    <resultMap id="BaseResultMap" type="com.wms.bean.Shipment">
        <id column="sh_id" jdbcType="INTEGER" property="shId"/>
        <result column="sh_storeid" jdbcType="VARCHAR" property="shStoreid"/>
        <result column="sh_time" jdbcType="TIMESTAMP" property="shTime"/>
        <result column="sh_phone" jdbcType="VARCHAR" property="shPhone"/>
        <result column="sh_sippingNO" jdbcType="VARCHAR" property="shSippingno"/>
        <result column="sh_whid" jdbcType="VARCHAR" property="shWhid"/>
        <result column="sh_damage" jdbcType="INTEGER" property="shDamage"/>
        <result column="sh_cause" jdbcType="VARCHAR" property="shCause"/>
        <result column="sh_SKUmodel" jdbcType="VARCHAR" property="shSkumodel"/>
        <result column="sh_shnum" jdbcType="DOUBLE" property="shShnum"/>
        <result column="sh_totalweigh" jdbcType="DOUBLE" property="shTotalweigh"/>
        <result column="sh_totalvolume" jdbcType="DOUBLE" property="shTotalvolume"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <collection property="godowns" ofType="com.wms.bean.Godown">
            <id column="go_id" jdbcType="INTEGER" property="goId"/>
            <result column="go_whid" jdbcType="VARCHAR" property="goWhid"/>
            <result column="go_p" jdbcType="VARCHAR" property="goP"/>
            <result column="go_volume" jdbcType="DOUBLE" property="goVolume"/>
            <result column="go_usevolume" jdbcType="DOUBLE" property="goUsevolume"/>
            <result column="go_rdvolume" jdbcType="DOUBLE" property="goRdvolume"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        sh_id, sh_storeid, sh_time, sh_phone, sh_sippingNO, sh_whid, sh_damage, sh_cause,
        sh_SKUmodel, sh_shnum, sh_totalweigh, sh_totalvolume, status
    </sql>
    <!-- 查询所有不带条件 -->
    <select id="queryAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shipment
    </select>
    <!-- 根据ID查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from shipment
        where sh_id = #{shId,jdbcType=INTEGER}
    </select>
    <!-- 分页查询 -->
    <select id="selectShipmentPage" resultMap="BaseResultMap">
        SELECT sh.sh_id, sh.sh_storeid, sh.sh_time, sh.sh_phone, sh.sh_sippingNO, sh.sh_whid, sh.sh_damage, sh.sh_cause, sh.sh_SKUmodel, sh.sh_shnum, sh.sh_totalweigh, sh.sh_totalvolume, sh.status, g.*
        FROM shipment sh, godown g
        WHERE sh.sh_whid = g.go_whid
        <if test=" name != null and name != '' ">
            and sh_storeid like concat('%', #{name}, '%')
        </if>
        <if test="startTime != null">
            <![CDATA[ and sh_time >= #{startTime} ]]>
        </if>
        <if test="endTime != null">
            <![CDATA[ and sh_time <= #{endTime} ]]>
        </if>
    </select>
    <!-- 根据ID删除-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from shipment
        where sh_id = #{shId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.wms.bean.Shipment">
        insert into shipment (sh_id, sh_storeid, sh_time,
        sh_phone, sh_sippingNO, sh_whid,
        sh_damage, sh_cause, sh_SKUmodel,
        sh_shnum, sh_totalweigh, sh_totalvolume, status
        )
        values (#{shId,jdbcType=INTEGER}, #{shStoreid,jdbcType=VARCHAR}, #{shTime,jdbcType=TIMESTAMP},
        #{shPhone,jdbcType=VARCHAR}, #{shSippingno,jdbcType=VARCHAR}, #{shWhid,jdbcType=VARCHAR},
        #{shDamage,jdbcType=INTEGER}, #{shCause,jdbcType=VARCHAR}, #{shSkumodel,jdbcType=VARCHAR},
        #{shShnum,jdbcType=DOUBLE}, #{shTotalweigh,jdbcType=DOUBLE}, #{shTotalvolume,jdbcType=DOUBLE},
        #{status,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.wms.bean.Shipment">
        insert into shipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shId != null">
                sh_id,
            </if>
            <if test="shStoreid != null">
                sh_storeid,
            </if>
            <if test="shTime != null">
                sh_time,
            </if>
            <if test="shPhone != null">
                sh_phone,
            </if>
            <if test="shSippingno != null">
                sh_sippingNO,
            </if>
            <if test="shWhid != null">
                sh_whid,
            </if>
            <if test="shDamage != null">
                sh_damage,
            </if>
            <if test="shCause != null">
                sh_cause,
            </if>
            <if test="shSkumodel != null">
                sh_SKUmodel,
            </if>
            <if test="shShnum != null">
                sh_shnum,
            </if>
            <if test="shTotalweigh != null">
                sh_totalweigh,
            </if>
            <if test="shTotalvolume != null">
                sh_totalvolume,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shId != null">
                #{shId,jdbcType=INTEGER},
            </if>
            <if test="shStoreid != null">
                #{shStoreid,jdbcType=VARCHAR},
            </if>
            <if test="shTime != null">
                #{shTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shPhone != null">
                #{shPhone,jdbcType=VARCHAR},
            </if>
            <if test="shSippingno != null">
                #{shSippingno,jdbcType=VARCHAR},
            </if>
            <if test="shWhid != null">
                #{shWhid,jdbcType=VARCHAR},
            </if>
            <if test="shDamage != null">
                #{shDamage,jdbcType=INTEGER},
            </if>
            <if test="shCause != null">
                #{shCause,jdbcType=VARCHAR},
            </if>
            <if test="shSkumodel != null">
                #{shSkumodel,jdbcType=VARCHAR},
            </if>
            <if test="shShnum != null">
                #{shShnum,jdbcType=DOUBLE},
            </if>
            <if test="shTotalweigh != null">
                #{shTotalweigh,jdbcType=DOUBLE},
            </if>
            <if test="shTotalvolume != null">
                #{shTotalvolume,jdbcType=DOUBLE},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.wms.bean.Shipment">
        update shipment
        <set>
            <if test="shStoreid != null">
                sh_storeid = #{shStoreid,jdbcType=VARCHAR},
            </if>
            <if test="shTime != null">
                sh_time = #{shTime,jdbcType=TIMESTAMP},
            </if>
            <if test="shPhone != null">
                sh_phone = #{shPhone,jdbcType=VARCHAR},
            </if>
            <if test="shSippingno != null">
                sh_sippingNO = #{shSippingno,jdbcType=VARCHAR},
            </if>
            <if test="shWhid != null">
                sh_whid = #{shWhid,jdbcType=VARCHAR},
            </if>
            <if test="shDamage != null">
                sh_damage = #{shDamage,jdbcType=INTEGER},
            </if>
            <if test="shCause != null">
                sh_cause = #{shCause,jdbcType=VARCHAR},
            </if>
            <if test="shSkumodel != null">
                sh_SKUmodel = #{shSkumodel,jdbcType=VARCHAR},
            </if>
            <if test="shShnum != null">
                sh_shnum = #{shShnum,jdbcType=DOUBLE},
            </if>
            <if test="shTotalweigh != null">
                sh_totalweigh = #{shTotalweigh,jdbcType=DOUBLE},
            </if>
            <if test="shTotalvolume != null">
                sh_totalvolume = #{shTotalvolume,jdbcType=DOUBLE},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where sh_id = #{shId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.wms.bean.Shipment">
        update shipment
        set sh_storeid = #{shStoreid,jdbcType=VARCHAR},
        sh_time = #{shTime,jdbcType=TIMESTAMP},
        sh_phone = #{shPhone,jdbcType=VARCHAR},
        sh_sippingNO = #{shSippingno,jdbcType=VARCHAR},
        sh_whid = #{shWhid,jdbcType=VARCHAR},
        sh_damage = #{shDamage,jdbcType=INTEGER},
        sh_cause = #{shCause,jdbcType=VARCHAR},
        sh_SKUmodel = #{shSkumodel,jdbcType=VARCHAR},
        sh_shnum = #{shShnum,jdbcType=DOUBLE},
        sh_totalweigh = #{shTotalweigh,jdbcType=DOUBLE},
        sh_totalvolume = #{shTotalvolume,jdbcType=DOUBLE},
        status = #{status,jdbcType=INTEGER}
        where sh_id = #{shId,jdbcType=INTEGER}
    </update>
</mapper>